groq
beautifulsoup4
plotly
python-dotenv
PyPDF2
streamlit
streamlit_option_menu
astrapy
reportlab
pyngrok
langchain_community
langchain
langchain-huggingface
langchain-text-splitters
langchain-openai
langchain-astradb
langchain-graph-retriever
cassio 
datasets 
tiktoken
sentence-transformers
openai
